#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [1]:
import pandas as pd

import urllib.request
from PIL import Image

## Data

In [26]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("_Train__202304301950.csv")

## Data exploration

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         912 non-null    int64
 1   Company           912 non-null    object
 2   Product           912 non-null    object
 3   TypeName          912 non-null    object
 4   Inches            912 non-null    float64
 5   ScreenResolution  912 non-null    object
 6   Cpu               912 non-null    object
 7   Ram               912 non-null    object
 8   Memory            912 non-null    object
 9   Gpu               912 non-null    object
 10  OpSys             912 non-null    object
 11  Weight            912 non-null    object
 12  Price_euros       912 non-null    float64
 13  column1           0 non-null      float64
dtypes: float64(3), int64(1), object(10)
memory usage: 99.9+ KB

In [28]:
train.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,column1
0,1104,Acer,Aspire ES1-523,Notebook,15.6,1366x768,AMD A8-Series 7410 2.2GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.4kg,387.0,NaN
1,114,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7560U 2.4GHz,8GB,256GB SSD,Intel Iris Plus Graphics 640,Windows 10,1.23kg,1379.0,NaN
2,172,Acer,Aspire A517-51G,Notebook,17.3,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Nvidia GeForce MX150,Windows 10,3kg,854.0,NaN
3,918,HP,Elitebook 820,Netbook,12.5,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.26kg,1483.0,NaN
4,447,Lenovo,IdeaPad 320-15AST,Notebook,17.3,1600x900,AMD A6-Series 9220 2.5GHz,8GB,1TB HDD,AMD Radeon R4,Windows 10,2.8kg,519.0,NaN

## Data processing

In [29]:
train['Ram'] = train['Ram'].str.replace('GB', '').astype(float)

In [30]:
train['Weight'] = train['Weight'].str.replace('kg', '').astype(float)

In [31]:
train = train.drop("column1", axis=1)

In [32]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         912 non-null    int64
 1   Company           912 non-null    object
 2   Product           912 non-null    object
 3   TypeName          912 non-null    object
 4   Inches            912 non-null    float64
 5   ScreenResolution  912 non-null    object
 6   Cpu               912 non-null    object
 7   Ram               912 non-null    float64
 8   Memory            912 non-null    object
 9   Gpu               912 non-null    object
 10  OpSys             912 non-null    object
 11  Weight            912 non-null    float64
 12  Price_euros       912 non-null    float64
dtypes: float64(4), int64(1), object(8)
memory usage: 92.8+ KB

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [34]:
train = train[['laptop_ID','Inches', "Ram", "Weight",'Price_euros']]

In [35]:
train

     laptop_ID  Inches   Ram  Weight  Price_euros
0         1104    15.6   4.0    2.40       387.00
1          114    13.3   8.0    1.23      1379.00
2          172    17.3   8.0    3.00       854.00
3          918    12.5   8.0    1.26      1483.00
4          447    17.3   8.0    2.80       519.00
..         ...     ...   ...     ...          ...
907        996    15.6   6.0    2.20       549.00
908        731    17.3  32.0    4.36      3659.40
909        276    17.3  16.0    3.20      1549.00
910        585    17.3  16.0    4.14      2729.00
911       1173    15.6   4.0    1.91       478.89

[912 rows x 5 columns]

In [39]:
X = train.drop(['Price_euros'], axis=1)
y = train['Price_euros'].copy()
X.shape

(912, 4)

In [40]:
y.shape

(912,)

### 2. Dividir X_train, X_test, y_train, y_test

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [43]:
X_train

     laptop_ID  Inches   Ram  Weight
25          26    15.6   4.0    2.30
84         776    15.6  16.0    2.72
10        1263    15.6  16.0    2.50
342        182    15.6   8.0    1.90
890        321    13.3  16.0    1.29
..         ...     ...   ...     ...
106        394    15.6   8.0    2.00
270        441    15.6  16.0    2.50
860        955    17.3   4.0    2.80
435        210    15.6   6.0    2.30
102        673    15.6   4.0    2.10

[729 rows x 4 columns]

### 3. Asignar el modelo (vacío) a una variable

In [44]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [45]:
model.fit(X,y)

LinearRegression()

In [46]:
pred = model.predict(X_test)
pred

array([1048.17859406,  523.89326864,  960.74965996,  949.80366013,
       1910.89478536,  823.89833142,  669.00073428, 1180.49800971,
        967.19371385, 1209.93937539, 1231.29826087,  454.19165263,
        733.29081296, 1232.52907675, 1224.03054204, 1787.87649563,
       2028.35315935, 1286.03912245,  912.48873784,  432.32396243,
        876.35994306,  675.28378668,  985.2790246 , 1434.91424163,
        888.41773956,  498.73967733,  799.96247685, 1753.46427972,
        964.11177503,  660.07206812, 1167.90945144, 1120.88458875,
       1139.63522827, 1350.01744613, 1196.21753832,  541.77980071,
       1127.59462039,  810.85505919, 1183.29570288, 1134.22643231,
       1129.37716877, 1017.50862278, 1083.04367409, 1776.62649074,
       1132.049556  ,  661.6819446 , 1864.61332412,  634.09787705,
        993.64945668, 1010.60416969, 2195.97786521, 1120.46763827,
        558.70370765, 1769.83188367,  790.97631561, 1173.81040896,
       2151.15833584,  986.5985083 , 1995.65449895, 1873.71330486,
        577.31606266, 1015.68455552,  796.01033728, 1218.42313905,
        551.7260578 ,  801.06753916,  541.93383108, 1052.51435491,
        996.06581045,  578.0417125 , 1343.19507867, 1172.02006937,
       1013.522845  , 1185.92269336, 1068.30653618, 3645.27575925,
       1838.44830983,  524.83610835,  591.50411502,  751.06806297,
        995.91178008,  790.28576768, 1806.5378948 , 1042.58204006,
        906.64954559, 1196.22394547, 1071.12516257,  659.39221607,
       1876.44187066,  677.46009902, 1123.28918626, 1100.38039495,
       1146.57086876,  733.00035167,  969.90710771,  907.75630837,
       1850.83035183,  721.22580615,  755.19068348,  574.97371592,
       1182.79988411, 1256.68754738, 1087.52941578,  674.46685367,
        964.49831175,  698.44307611, 1077.7162757 , 1082.06597879,
        678.65287287,  811.31780745, 1082.78036167, 1761.33182014,
        999.54710029, 1946.52305227, 1169.95613233, 1860.53098298,
        699.80277925,  605.65301595, 1040.45980478, 1045.92032018,
        610.55610043,  591.72261063, 1233.78864878,  934.67762786,
       1019.60353755, 1095.63766337, 1055.33005971, 1262.66924291,
       1226.32271524, 1238.11046739,  621.20976928,  649.0256946 ,
        735.78102922, 1019.88719936, 3613.77524753, 1099.91903946,
       1854.24105507, 1100.50768863, 2043.44085046, 1216.63628502,
        923.20085805, 1083.5797123 ,  600.15236573, 1024.76993445,
       1131.51708797,  631.15611098, 1123.79829869, 1027.17234598,
       1072.4924008 ,  733.72850514,  524.67567082, 1854.18114097,
       1157.57704995, 2019.98817815, 1116.36730537, 1770.0922745 ,
        722.58559633, 1053.20782443, 3679.81883631, 1899.45702243,
       1126.78863952, 1116.65380416, 2158.73006587, 1198.44557009,
       2005.43822814,  712.98151996, 1008.65979973,  975.80889646,
        546.68288519,  762.3983375 , 1994.52561026, 1256.93399597,
        695.0292416 , 1214.57914745,  979.55632471,  893.74749557,
       1000.41202798,  647.90498957, 1155.53054071,  996.33204447,
        736.59440913,  635.77893459, 1094.80014081])

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de MAE.

In [83]:
from sklearn.metrics import mean_squared_error
import numpy as np

print('RMSE :',np.sqrt(mean_squared_error(y_test,pred)))

RMSE : 477.86077137664546

In [49]:
from sklearn import metrics

In [50]:
print('MAE:', metrics.mean_absolute_error(y_test, pred))
print('MSE:', metrics.mean_squared_error(y_test, pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, pred)))

MAE: 324.78709048522427
MSE: 228350.9168206826
RMSE: 477.86077137664546

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

### 2. Carga los datos de `test.csv` para predecir.

In [61]:
X_pred = pd.read_csv("_Test__202304301950.csv")
X_pred.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
0,750,Toshiba,Tecra X40-D-10G,Notebook,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.25kg
1,633,Mediacom,SmartBook 140,Notebook,14.0,Full HD 1920x1080,Intel Atom x5-Z8350 1.44GHz,2GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg
2,363,Dell,Inspiron 7577,Gaming,15.6,Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8GB,1TB HDD,Nvidia GeForce GTX 1050,Windows 10,2.65kg
3,319,Asus,VivoBook Flip,2 in 1 Convertible,11.6,Touchscreen 1366x768,Intel Celeron Dual Core N3350 1.1GHz,2GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.1kg
4,14,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,256GB SSD,AMD Radeon R5 M430,Windows 10,2.2kg

In [63]:
X_pred['Ram'] = X_pred['Ram'].str.replace('GB', '').astype(float)

In [68]:

X_pred['Weight'] = X_pred['Weight'].str.replace('kg', '').astype(float)

c:\Users\Abraham\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
X_pred.head()

   laptop_ID  Inches  Ram  Weight
0        750    14.0  8.0    1.25
1        633    14.0  2.0    1.40
2        363    15.6  8.0    2.65
3        319    11.6  2.0    1.10
4         14    15.6  4.0    2.20

In [70]:
X_pred=X_pred[['laptop_ID','Inches', "Ram", "Weight"]]

In [71]:
X_pred

     laptop_ID  Inches  Ram  Weight
0          750    14.0  8.0    1.25
1          633    14.0  2.0    1.40
2          363    15.6  8.0    2.65
3          319    11.6  2.0    1.10
4           14    15.6  4.0    2.20
..         ...     ...  ...     ...
386       1132    12.5  8.0    1.25
387         49    15.6  4.0    2.30
388       1243    15.6  4.0    2.65
389        924    12.5  8.0    1.09
390        726    14.0  4.0    1.40

[391 rows x 4 columns]

**¿Por qué da error?**

In [72]:
predictions_submit = model.predict(X_pred)
predictions_submit

array([1162.51150447,  484.44460493, 1002.60464019,  578.69790028,
        518.7983766 ,  440.51878505, 1922.07857077, 1884.9836653 ,
       1093.67238005,  961.08155565, 1084.25980355, 1031.48719347,
        986.66596364,  528.09242692, 1067.35380376, 1113.62035549,
       2021.28949844,  588.84244059, 1091.45188337, 1206.74798287,
        890.37897335,  694.43459746, 1131.56532184,  641.14703176,
       1160.33170657,  921.72117601,  894.32179033,  550.73846978,
       1061.17193436,  969.92397155, 1030.94775432,  872.28344511,
       1110.06966215, 1094.12750004, 1167.11715654, 1063.86846439,
       1261.90283531, 1130.63538106, 2074.42084778, 1828.27134006,
        956.52610276,  699.64194941, 1096.12620332,  963.55839364,
       1916.01756803,  966.89610979, 1805.94786414, 1002.56572891,
       1911.50629334,  668.85311106,  556.33850934,  994.05982835,
       1123.77851326,  523.42128483,  643.31985854, 1006.82471183,
        888.61904655, 1237.95351543, 1192.30164954,  523.00102044,
       1002.60812575, 1074.49424876,  605.91924997,  996.30820951,
        856.75028755, 1868.03997293, 1756.61244417, 1029.75846603,
        656.06787819,  661.14882799, 1101.86981657, 3586.73823883,
       1987.22093447, 1130.80967621, 1015.25091286,  554.10058485,
       1854.73944114, 1072.94338664, 1133.46437952,  692.19667297,
       1445.42782235, 1102.62180499, 1830.3796331 ,  938.81865956,
       1020.61147496, 1278.47676161, 1192.85503093,  538.41768564,
        891.66011589, 1172.67244779, 1037.23777784,  597.82202302,
       2114.94409396, 1114.44724971, 1211.78418436, 1088.35308072,
        571.94349654,  690.28715861,  530.01239796, 1029.09928814,
       1009.94150624, 1000.40505686,  530.0263402 , 1782.39563084,
        585.42568449, 1897.31839168, 1087.8305054 , 1943.39344354,
       1122.23754385, 1191.39000822,  996.59117277, 1203.39074613,
       1763.64822061, 1246.48843455, 1133.94999788, 1097.85401492,
       2667.42766736,  687.9325016 , 1179.89890386,  905.44363266,
       1187.97617372, 1873.65989353, 1215.44407513,  641.60102381,
       1109.08612366,  540.1057143 ,  883.47395532,  847.18036822,
       1072.29126449,  688.31198258,  998.013102  , 1008.50576936,
        420.18452917, 1001.07399286, 2035.17930812, 1938.12246269,
       1910.99766026, 1985.31612922, 1120.73038673, 1084.73819452,
       1131.65020498,  598.09871372, 1943.65214247, 1906.20904145,
        701.75347175, 1748.32868889,  984.69078761, 1015.93741127,
       1048.30181835, 1868.62416039, 1120.94399662, 1177.36045372,
        397.43244965, 1885.82183643,  987.36640428, 1096.48045416,
        626.0919404 , 1345.0565308 , 1438.00663713, 3514.71371958,
       1123.11180029, 1095.39121478,  691.47239738, 1066.42782789,
       3627.71547706, 1142.59824858,  981.32867253,  831.74326659,
        991.58299036,  619.96291836,  915.01729527,  820.59092589,
        624.8694884 , 1854.52877257,  543.88809375,  866.17104772,
       1236.43638097, 1225.47002932,  823.90181698, 1006.01498913,
       1874.47008458, 1096.76826111, 1049.84570936, 1008.89993677,
       1025.32331584,  796.7404499 ,  469.8954652 ,  799.08530497,
       1051.96097352, 1009.11491971,  668.54561429,  814.6612736 ,
        675.461652  , 1087.40967705, 1900.1079995 , 1097.66717273,
        606.63363285,  896.16384935, 2789.74249925,  844.13102914,
       1008.93705439, 1109.97806416, 1860.31072697,  862.12243425,
       1126.31317014, 1682.99663031, 1122.92081296, 1031.62031048,
        444.62877051, 1107.54833211,  614.19839176, 1034.44995752,
       1172.08865264, 1049.42544497,  570.7780432 , 1081.19756554,
       1010.7419958 ,  527.49778278,  987.509414  ,  541.49962446,
        911.66912243,  542.99795686, 1929.02305691,  448.57418527,
       2019.20965384, 1293.72375372, 1922.50401261, 1113.19660554,
       1232.77722581,  677.54879249,  644.5428745 , 1018.29912401,
       1302.21771634, 1056.93556286,  708.8842803 , 1109.29130949,
        970.55582892,  595.2934656 ,  604.33758177, 1217.3946806 ,
        814.6594861 , 1140.266903  , 1002.19661999, 1059.65187831,
        689.46301433,  991.2409618 , 2088.17079   , 1200.56027029,
       1202.19714347, 1452.71240501, 1927.05193041, 1100.40018037,
        963.59965639,  868.25162697, 1118.18780245, 1255.81329095,
       1242.33402459, 1211.4920226 , 1068.19725412,  636.85553988,
       1975.12956343,  729.86416414, 2009.97015993,  573.8530109 ,
        798.09309731,  617.89240252,  697.95715005, 1120.34402166,
        969.85538828, 1103.77266751,  866.41368598,  551.02561716,
        653.41958203, 1822.11443355, 1991.69539925, 1871.48178752,
        589.4027931 ,  693.49524331, 1887.81576557, 1224.35451033,
       1255.39302656, 7157.03684833,  713.55144138, 1097.17863278,
        613.40958242,  973.32734937,  902.73404912,  540.62602759,
       1256.96772364, 1858.22683285, 1536.17760877, 1134.01078979,
        988.34702117,  554.60629634,  975.09451358,  704.48309697,
        881.57377068, 2126.93703194,  719.12796979,  596.28105362,
        541.26419651,  620.62501784, 1010.4478773 , 1125.45616985,
       1930.23213063, 2029.72323456, 1003.05627461,  733.73458849,
       3808.73851147, 1274.97577953,  657.50653666, 1850.70390066,
       2105.13792501, 1531.28790257, 1189.80097659, 1756.24917845,
       2104.50184646, 2160.69129967, 1020.56729061,  485.90012724,
        555.36834913, 1752.86840588,  931.53351294, 1035.79968333,
        882.13412319, 1174.5108496 ,  522.21221111, 1989.8684104 ,
       1026.58410899, 1203.24246576,  820.76238405, 1872.65836327,
       1046.88991643,  575.0016004 ,  632.13664326, 1940.9956455 ,
        993.90287638, 1054.89942326,  669.43786249, 1078.17845142,
       1019.51516885,  480.35756568, 1001.07412746,  916.97852906,
        971.53644581,  588.97612157,  901.12921171,  972.00145851,
       1128.656321  , 1036.95063046, 2097.51486786,  597.51160466,
       1063.8812787 , 1852.35707372, 1116.85323143,  725.94113259,
       3507.09262775, 1004.97746919, 1480.16967809, 1270.8945749 ,
        675.14369855,  965.06102189, 1790.54514118, 1177.08707693,
        532.53398426,  642.72172884,  670.41150827, 1220.70271861,
        819.25222072,  878.25252508,  523.14807969, 1850.42909924,
       1119.03238074,  683.54201511, 1151.73753292, 1065.44485337,
        790.57988618, 1035.29745741, 1226.82842673, 1286.57220104,
       1151.6691213 ,  834.64734009, 1004.04386263, 1115.071572  ,
       1888.25741167, 1919.34134195, 1300.3113813 ,  522.57378494,
        685.89214324, 1272.97733251,  717.46782561])

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

In [ ]:
# ¿Qué opináis?
# Sí

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [43]:
predictions_submit = model.predict(X_pred)
predictions_submit

array([1097.6423004 , 1095.00755928, 1084.79793741, 1101.01825451,
        981.53500887, 1062.70472731, 1123.17875843, 1136.91660235,
       1100.68891187, 1171.05845611, 1061.49713762, 1039.67799563,
       1120.5592512 , 1084.55112248, 1067.42530516, 1144.60126397,
       1008.086748  , 1087.21311678, 1117.59516743, 1166.6672209 ,
       1136.28517025, 1137.01114934, 1201.1384173 , 1195.5395924 ,
       1155.57935199, 1095.22712104, 1205.96877603, 1141.07304191,
       1087.734768  , 1145.58929189, 1069.84048452, 1117.48538655,
       1169.08240026, 1183.02457206, 1166.99656354, 1048.59589281,
       1143.28389341, 1069.57766753, 1078.759989  , 1072.74768646,
       1196.62216731, 1063.58297435, 1030.59182845,  995.79128941,
       1065.55903019, 1129.78084514, 1071.26763597, 1167.64001493,
       1224.39673002, 1248.32896191, 1181.26807797, 1092.56512673,
       1090.69885177, 1189.17230135, 1066.32749635, 1158.8727784 ,
       1102.11606331, 1053.33170455, 1106.66997846, 1072.30856294,
       1065.99815371, 1100.57913099, 1154.26198143, 1132.7449289 ,
       1091.57709881, 1115.16475417, 1086.52717832, 1132.07100973,
       1118.14407183, 1168.8628385 , 1171.60736051, 1000.2923055 ,
       1196.51238643, 1005.56178775, 1198.39389529, 1106.068175  ,
       1090.36950913, 1057.41120648, 1150.74899326, 1201.35797906,
       1198.94279969, 1099.26176043, 1052.74192038, 1197.39063348,
       1175.32467655, 1112.65502782, 1137.18906317, 1073.62593351,
       1077.1958035 , 1138.98720518, 1055.51208827, 1124.18202024,
       1122.86464968, 1103.26677117, 1182.03654413, 1141.11552898,
       1162.82489009, 1101.34759715, 1194.4417836 , 1070.60895068,
       1115.94845423, 1100.14000747, 1093.99227818, 1068.8524566 ,
       1151.39244465, 1114.74086454, 1109.47138229, 1161.17817689,
       1147.34578598, 1187.96471167, 1121.24518966, 1023.94970111,
       1021.60342286, 1133.60794205, 1114.68398272, 1025.43212708,
       1040.76378515, 1164.89549292, 1076.015467  , 1061.4402558 ,
       1193.12441304, 1121.5745323 , 1232.19117251, 1086.90942002,
       1158.76299752, 1179.07246037, 1077.63492702, 1099.3042475 ,
       1086.3741422 , 1027.38253705, 1194.66134536, 1093.44337378,
       1103.43343388, 1113.51804097, 1027.46268928, 1040.58188855,
       1016.29466814, 1244.92575462, 1129.59894854, 1069.3188333 ,
       1039.78777651, 1199.05258057, 1123.52333496, 1153.82285791,
       1115.28976894, 1206.07855691, 1135.0350935 , 1084.77068424,
       1108.37357349, 1129.67106426, 1087.51520624, 1193.23419392,
       1058.03704851, 1018.81962839, 1094.54118258, 1085.10002688,
       1039.77575723, 1148.55337566, 1043.08602483, 1093.00425025,
       1131.85144797, 1191.47769984, 1171.16823699, 1197.84499089,
       1144.05235957, 1230.21511667, 1029.82336229, 1082.13594311,
       1008.76066717, 1086.6369592 , 1139.33178172, 1201.6873217 ,
       1128.57325545, 1142.73498901, 1083.89243719, 1080.59901079,
       1118.12883794, 1106.01129318, 1038.72924018, 1002.17381436,
       1101.12803539, 1093.3335929 , 1171.71714139, 1134.06229947,
       1232.63029603, 1115.72889247, 1104.47436085, 1151.50222553,
        985.37733968, 1133.95251859, 1097.7248281 , 1180.93873533,
       1119.84368409, 1183.3539147 , 1164.47160329, 1238.77802533,
        996.99887909, 1131.53733922, 1139.86545223, 1118.69297623,
       1094.05880382, 1098.82263691, 1005.23244511, 1083.56309455,
       1113.18869833, 1021.48001539, 1112.92748863, 1015.55184786,
       1121.54727912, 1053.94951007, 1005.89113039, 1137.46550675,
       1120.22990856, 1105.76608554, 1133.73295683, 1102.55518684,
       1162.16620481, 1231.42270635, 1067.7546478 , 1088.39345328,
       1079.61098286, 1197.29608649, 1131.12546888, 1132.1960245 ,
       1138.3285199 , 1079.3088934 , 1091.86318622, 1125.93851433,
       1008.19652888, 1101.72983885, 1143.59800216, 1161.06839601,
       1105.62905148, 1117.68971442, 1139.4415626 , 1038.27649007,
       1178.08443245, 1071.92632125, 1121.76684088, 1129.56128338,
       1144.62851715,  994.48915274, 1005.74529165, 1224.72607266,
       1141.74696108, 1078.54042724, 1013.56538003, 1132.1134968 ,
       1130.90590712, 1130.68634536, 1104.9703662 , 1128.35369369,
       1055.59622327, 1063.91231699, 1037.19391516, 1190.27011015,
       1119.07521793, 1108.86559606, 1027.42180951, 1148.44359478,
       1032.54223842, 1045.82572493, 1103.13134442, 1195.10046888,
       1105.84861324, 1108.0971299 , 1137.35572587, 1204.87096723,
       1016.9789993 , 1071.37741685, 1177.2061854 , 1162.71510921,
       1087.07608272, 1168.64327674, 1190.91356154, 1192.35594688,
       1218.907686  , 1118.03429095, 1198.72323793, 1242.40079438,
       1097.33860364, 1118.74587529, 1228.56840347, 1171.81168838,
       1169.74108555, 1133.84273771, 1070.82851244, 1146.78164768,
       1208.69806414, 1122.80776786, 1079.72076374, 1170.28998995,
       1203.55359666, 1085.86849304, 1090.58907089, 1204.63617157,
       1081.87473342, 1131.08298181, 1112.48836511, 1098.95967097,
       1121.65706   , 1077.30558438, 1144.71104485, 1232.95963868,
       1070.63620386, 1136.14813619, 1086.66421238, 1097.39548546,
       1186.30276457, 1049.91326337, 1077.70145266, 1168.75305762,
       1068.52311396, 1095.58210955, 1168.3139341 , 1067.69776597,
       1138.76764342, 1152.42295965, 1139.82380429, 1111.11809549,
       1086.11530798, 1090.47929001, 1124.27656723, 1173.23883982,
       1120.66903208, 1131.52210533, 1109.60841635, 1062.37538467,
       1184.56150438, 1116.71692039, 1079.11497752, 1124.73092465,
       1234.05744748, 1133.51339507, 1103.21387212, 1150.63921238,
       1140.42959052, 1089.16191945, 1016.40444902, 1178.63333685,
       1031.5542105 , 1108.70291613, 1204.98074811, 1098.49329427,
       1203.22425402, 1072.69478741, 1114.9604263 , 1160.72381947,
       1070.93829332, 1143.10199681, 1124.84070553, 1144.73829803,
       1119.35166151, 1148.77293742, 1073.35347269, 1060.53636288,
       1103.68024882, 1136.57202582, 1229.55643139, 1126.48741873,
       1133.45651324, 1184.34194262, 1071.59697861, 1154.68587106,
       1111.80403396, 1072.58500653, 1159.64124456, 1180.28005005,
       1143.42092747, 1123.19399232, 1045.20791941, 1065.22968755,
       1214.51645079, 1186.86690286, 1191.80704248, 1094.67821664,
       1136.47747883, 1154.06967285, 1120.01034679, 1098.21685068,
       1021.71481104, 1041.35035471, 1012.27365534, 1097.28570458,
       1188.62339695, 1100.24978835, 1137.24594499, 1096.58376407,
       1066.54705812, 1197.62542913, 1073.74934098])

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [73]:
sample = pd.read_csv("_Sample__202304301950.csv")

In [74]:
sample.head()

   laptop_ID  Price_euros
0        750        500.0
1        726        500.0
2        633        500.0
3        363        650.0
4        319        650.0

In [75]:
sample.shape

(391, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [76]:
submission = pd.DataFrame({"I": X_pred['laptop_ID'], "Price_euros": predictions_submit})

In [77]:
submission.head()

   laptop_ID  Price_euros
0        750  1162.511504
1        726   484.444605
2        633  1002.604640
3        363   578.697900
4        319   518.798377

In [78]:
submission.shape

(391, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [80]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [82]:
chequeator(submission)

You're ready to submit!