In [49]:
%run Limpieza.ipynb

<class 'pandas.core.frame.DataFrame'>
Int64Index: 912 entries, 1104 to 1173
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           912 non-null    object
 1   Product           912 non-null    object
 2   TypeName          912 non-null    object
 3   Inches            912 non-null    float64
 4   ScreenResolution  912 non-null    object
 5   Cpu               912 non-null    object
 6   Ram               912 non-null    object
 7   Memory            912 non-null    object
 8   Gpu               912 non-null    object
 9   OpSys             912 non-null    object
 10  Weight            912 non-null    object
 11  Price_euros       912 non-null    float64
 12  column1           0 non-null      float64
dtypes: float64(3), object(10)
memory usage: 99.8+ KB

In [50]:
import seaborn as sns

In [51]:
train_raw

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,peso,magnitud,SO,modso
laptop_ID,,,,,,,,,,,,,,,,
1104,Acer,Aspire ES1-523,Notebook,15.6,1366x768,AMD A8-Series 7410 2.2GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.4kg,387.00,4,kg,Windows,10
114,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7560U 2.4GHz,8GB,256GB SSD,Intel Iris Plus Graphics 640,Windows 10,1.23kg,1379.00,23,kg,Windows,10
172,Acer,Aspire A517-51G,Notebook,17.3,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Nvidia GeForce MX150,Windows 10,3kg,854.00,3,kg,Windows,10
918,HP,Elitebook 820,Netbook,12.5,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.26kg,1483.00,26,kg,Windows,10
447,Lenovo,IdeaPad 320-15AST,Notebook,17.3,1600x900,AMD A6-Series 9220 2.5GHz,8GB,1TB HDD,AMD Radeon R4,Windows 10,2.8kg,519.00,8,kg,Windows,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,Full HD 1920x1080,AMD A12-Series 9720P 3.6GHz,6GB,256GB SSD,AMD Radeon 530,Windows 10,2.2kg,549.00,2,kg,Windows,10
731,Dell,Alienware 17,Gaming,17.3,4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,32GB,1TB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.36kg,3659.40,36,kg,Windows,10
276,Asus,Rog Strix,Gaming,17.3,Full HD 1920x1080,AMD Ryzen 1700 3GHz,16GB,256GB SSD + 1TB HDD,AMD Radeon RX 580,Windows 10,3.2kg,1549.00,2,kg,Windows,10
585,MSI,GT73VR Titan,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7820HK 2.9GHz,16GB,512GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.14kg,2729.00,14,kg,Windows,10
1173,HP,15-bw002nv (A6-9220/4GB/256GB/Radeon,Notebook,15.6,Full HD 1920x1080,AMD A6-Series A6-9220 2.5GHz,4GB,256GB SSD,AMD Radeon 520,Windows 10,1.91kg,478.89,91,kg,Windows,10

In [52]:
train_modelo=train_raw[["Company","Inches", "peso","Price_euros"]]
train_modelo

          Company  Inches peso  Price_euros
laptop_ID
1104         Acer    15.6    4       387.00
114          Dell    13.3   23      1379.00
172          Acer    17.3    3       854.00
918            HP    12.5   26      1483.00
447        Lenovo    17.3    8       519.00
...           ...     ...  ...          ...
996        Lenovo    15.6    2       549.00
731          Dell    17.3   36      3659.40
276          Asus    17.3    2      1549.00
585           MSI    17.3   14      2729.00
1173           HP    15.6   91       478.89

[912 rows x 4 columns]

In [53]:
#columnas

x=train_modelo[["Inches", "peso"]]
x

           Inches peso
laptop_ID
1104         15.6    4
114          13.3   23
172          17.3    3
918          12.5   26
447          17.3    8
...           ...  ...
996          15.6    2
731          17.3   36
276          17.3    2
585          17.3   14
1173         15.6   91

[912 rows x 2 columns]

In [54]:
#target variable
y=train_modelo[["Price_euros"]]
y

           Price_euros
laptop_ID
1104            387.00
114            1379.00
172             854.00
918            1483.00
447             519.00
...                ...
996             549.00
731            3659.40
276            1549.00
585            2729.00
1173            478.89

[912 rows x 1 columns]

In [55]:
#Entrenamiento del modelo

In [71]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = 42)

In [57]:
print("Total features shape:", x.shape)
print("Train features shape:", x_train.shape)
print("Train target shape:", y_train.shape)
print("Test features shape:", x_test.shape)
print("Test target shape:", y_test.shape)

Total features shape: (912, 2)
Train features shape: (638, 2)
Train target shape: (638, 1)
Test features shape: (274, 2)
Test target shape: (274, 1)

In [58]:
#importing the Linear Regression Algorithm
from sklearn.linear_model import LinearRegression

In [59]:
#creating LinearRegression Object
lm = LinearRegression()

In [60]:
#Training the Data Model
lm.fit(x_train, y_train)

LinearRegression()

In [61]:
#Evaluo el modelo
print(lm.intercept_)

[738.53557959]

In [62]:
print(lm.coef_)

[[23.34935615  0.6235249 ]]

In [63]:
x_test

           Inches peso
laptop_ID
636          15.6    2
23           15.6   86
28           15.6    2
672          17.3    7
1251         17.3    7
...           ...  ...
792          15.6    2
1119         15.6    4
1271         14.0    9
462          11.6   47
1311         15.6    6

[274 rows x 2 columns]

In [64]:
predictions = lm.predict(x_test)
predictions

array([[1104.03258537],
       [1156.4086766 ],
       [1104.03258537],
       [1146.84411531],
       [1146.84411531],
       [1024.97623336],
       [1107.77373474],
       [1210.88016135],
       [1104.03258537],
       [1067.1642384 ],
       [1066.67361552],
       [1147.4676402 ],
       [1068.54419021],
       [1052.84942774],
       [1087.87346197],
       [1144.35001572],
       [1066.05009063],
       [1592.37075738],
       [1105.27963516],
       [1144.35001572],
       [1104.03258537],
       [1103.40906047],
       [1102.78553558],
       [1104.65611026],
       [1185.50265883],
       [1147.4676402 ],
       [1050.32906622],
       [1144.35001572],
       [1104.03258537],
       [1186.74970862],
       [1070.28186288],
       [1049.70554132],
       [1104.65611026],
       [1191.11438289],
       [1105.33215905],
       [1103.40906047],
       [1104.03258537],
       [1067.1642384 ],
       [1085.37936239],
       [1122.73833224],
       [1221.87879064],
       [1144.56170358],
       [1155.16162681],
       [1168.66748665],
       [1106.52668495],
       [1092.86166114],
       [1104.03258537],
       [1103.40906047],
       [1105.90316006],
       [1105.27963516],
       [1032.27310619],
       [1068.54419021],
       [1145.18522848],
       [1168.66748665],
       [1099.09691009],
       [1099.09691009],
       [1051.57611601],
       [1137.70292973],
       [1073.53238938],
       [1187.99675842],
       [1068.54419021],
       [1122.11480734],
       [1011.88221055],
       [1072.15243756],
       [1103.40906047],
       [1031.64958129],
       [1108.39725964],
       [1103.40906047],
       [1104.03258537],
       [1105.27963516],
       [1592.37075738],
       [1068.54419021],
       [1144.35001572],
       [1072.15243756],
       [1117.75013307],
       [1106.52668495],
       [1144.35001572],
       [1104.03258537],
       [1104.03258537],
       [1109.07330842],
       [1104.03258537],
       [1070.4147649 ],
       [1191.11438289],
       [1108.39725964],
       [1147.4676402 ],
       [1124.66143081],
       [1105.27963516],
       [1114.0089837 ],
       [1191.11438289],
       [1117.12660818],
       [1066.67361552],
       [1095.35576072],
       [1045.19483406],
       [1050.32906622],
       [1156.4086766 ],
       [1144.35001572],
       [1100.60976393],
       [1112.1909329 ],
       [1103.40906047],
       [1104.03258537],
       [1069.16771511],
       [1079.01121141],
       [1104.03258537],
       [1147.4676402 ],
       [1157.65572639],
       [1156.4086766 ],
       [1104.65611026],
       [1104.03258537],
       [1104.03258537],
       [1046.61417879],
       [1102.78553558],
       [1190.490858  ],
       [1104.65611026],
       [1141.4440791 ],
       [1069.03481308],
       [1105.90316006],
       [1069.16771511],
       [1104.03258537],
       [1104.03258537],
       [1155.16162681],
       [1104.03258537],
       [1018.7409844 ],
       [1050.32906622],
       [1183.00855925],
       [1125.23243182],
       [1105.27963516],
       [1158.90277618],
       [1026.35618517],
       [1073.39948735],
       [1052.1996409 ],
       [1103.40906047],
       [1114.0089837 ],
       [1124.66143081],
       [1122.11480734],
       [1168.66748665],
       [1062.79956413],
       [1187.99675842],
       [1210.88016135],
       [1069.79124   ],
       [1066.5407135 ],
       [1145.59706552],
       [1111.56740801],
       [1160.77335087],
       [1104.03258537],
       [1104.03258537],
       [1105.95568395],
       [1105.27963516],
       [1108.39725964],
       [1104.70863416],
       [1081.01468812],
       [1158.27925129],
       [1137.70292973],
       [1069.79124   ],
       [1066.5407135 ],
       [1105.33215905],
       [1148.0911651 ],
       [1079.63473631],
       [1104.03258537],
       [1105.90316006],
       [1142.47944104],
       [1062.17603923],
       [1105.27963516],
       [1050.95259111],
       [1092.23813624],
       [1103.11699448],
       [1093.48518603],
       [1104.03258537],
       [1181.76150946],
       [1103.40906047],
       [1099.09691009],
       [1105.90316006],
       [1059.05841475],
       [1104.03258537],
       [1077.14063673],
       [1107.15020985],
       [1144.35001572],
       [1162.02040066],
       [1114.0089837 ],
       [1065.91718861],
       [1104.03258537],
       [1079.63473631],
       [1103.40906047],
       [1124.66143081],
       [1104.65611026],
       [1147.67932806],
       [1105.90316006],
       [1158.90277618],
       [1067.1642384 ],
       [1104.65611026],
       [1144.97354062],
       [1066.5407135 ],
       [1147.4676402 ],
       [1115.25603349],
       [1147.4676402 ],
       [1070.4147649 ],
       [1050.95259111],
       [1151.20878958],
       [1086.78557615],
       [1069.16771511],
       [1103.40906047],
       [1104.03258537],
       [1115.25603349],
       [1076.51711183],
       [1067.92066531],
       [1125.23243182],
       [1050.32906622],
       [1019.36450929],
       [1031.0260564 ],
       [1070.28186288],
       [1104.03258537],
       [1141.4440791 ],
       [1046.61417879],
       [1156.4086766 ],
       [1139.21578357],
       [1105.27963516],
       [1164.92633728],
       [1104.03258537],
       [1099.09691009],
       [1105.90316006],
       [1105.95568395],
       [1110.89135922],
       [1114.0089837 ],
       [1114.0089837 ],
       [1104.03258537],
       [1141.4440791 ],
       [1063.42308902],
       [1101.59100968],
       [1103.40906047],
       [1104.03258537],
       [1151.20878958],
       [1085.37936239],
       [1104.65611026],
       [1108.39725964],
       [1145.59706552],
       [1090.88444638],
       [1173.03216092],
       [1104.03258537],
       [1085.37936239],
       [1102.78553558],
       [1068.54419021],
       [1113.3854588 ],
       [1144.35001572],
       [1087.143297  ],
       [1114.63250859],
       [1156.4086766 ],
       [1065.5857297 ],
       [1143.31465379],
       [1069.16771511],
       [1105.33215905],
       [1122.11480734],
       [1066.05009063],
       [1104.03258537],
       [1081.01468812],
       [1144.56170358],
       [1092.23813624],
       [1105.90316006],
       [1067.1642384 ],
       [1104.03258537],
       [1106.52668495],
       [1104.03258537],
       [1104.65611026],
       [1104.65611026],
       [1065.5857297 ],
       [1103.40906047],
       [1105.27963516],
       [1108.29061956],
       [1144.35001572],
       [1072.15243756],
       [1114.0089837 ],
       [1104.03258537],
       [1105.27963516],
       [1071.03828979],
       [1038.69378106],
       [1106.52668495]])

In [74]:
sns.scatterplot(x=y_test, y=predictions)

ValueError: If using all scalar values, you must pass an index